"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "railscast-theme"
    ]
  editor:
    softWrap: true
  "atom-terminal":
    surpressDirectoryArgument: false
  minimap:
    absoluteMode: true
  "file-types":
    "jade.tag": "source.jade",
    "tag": "text.html"
