"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "clang-format"
      "AtomicChar"
      "markdown-table-formatter"
      "wrap"
      "atom-ctags"
      "terminal-status"
      "atom-terminal-panel"
    ]
    themes: [
      "atom-dark-ui"
      "railscast-theme"
    ]
  editor:
    softWrap: true
    showInvisibles: true
  fonts:
    # http://app.programmingfonts.org/
    # fontFamily: "Source Code Pro"
    fontFamily: "FiraCode"
    # fontFamily: "Fantasque Sans Mono"
    # fontFamily: "DejaVu Mono"
    # fontFamily: "Iosevka"
  "symbols-tree-view":
    autoHide: true
    autoToggle: true
  "atom-terminal":
    surpressDirectoryArgument: false
  minimap:
    absoluteMode: true
  "file-types":
    "jade.tag": "source.jade",
    "tag": "text.html"
